# Dependencies
/node_modules

# Next.js build output
/.next/
/out/
/build

# Database files
/*.sqlite
/*.sqlite-journal
/*.sqlite-shm
/*.sqlite-wal
/data/*.sqlite
!/data/.gitkeep

# Environment variables
.env*.local
.env

# Testing & Logs
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
